<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
    <div class="container">
      <a class="navbar-brand" href="/search">
        <i class="fas fa-home"></i> BestSeat
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-collapse"
        aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <form class="d-flex mx-auto w-50" action="/search" method="GET">
          <div class="input-group">
            <input type="search" name="searchTerm" class="form-control" placeholder="Search events..."
              aria-label="Search">
            <button class="btn btn-outline-primary" type="submit">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </form>

        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="/profile">
              <i class="fas fa-user-circle"></i> Profile
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>